/* Header.css */

/* Base styles for desktop */
.header-container {
    height: 4rem;
    margin: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.username {
    font-size: 25px;
    font-weight: bolder;
}

.search-container {
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 16rem;
    height: 2.5rem;
    border-radius: 4px;
}

.search-icon {
    font-size: 20px;
    color: #ccc;
    margin-left: 1rem;
}

.search-input {
    font-size: 14px;
    outline: none;
    border: none;
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Responsive styles for smaller screens (e.g., mobile phones) */
@media (max-width: 600px) {
    .header-container {
        margin: 1rem 2rem; /* Adjust the margins as needed */
    }

    .username {
        font-size: 20px; /* Adjust the font size as needed */
    }

    .search-container {
        width: 12rem; /* Adjust the width as needed */
    }

    .search-icon {
        font-size: 18px; /* Adjust the font size as needed */
    }

    .search-input {
        font-size: 12px; /* Adjust the font size as needed */
    }
}
